In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
demographic_data = pd.read_csv('..\\Data\\normalized_demographic\\normalized_demographic.csv')

In [4]:
demographic_data.shape

(2045700, 6)

In [5]:
demographic_data.head()

,date,state,district,pincode,demo_age_5_17,demo_age_17_
0,01-03-2025,uttar_pradesh,gorakhpur,273213,49,529
1,01-03-2025,andhra_pradesh,chittoor,517132,22,375
2,01-03-2025,gujarat,rajkot,360006,65,765
3,01-03-2025,andhra_pradesh,srikakulam,532484,24,314
4,01-03-2025,rajasthan,udaipur,313801,45,785

In [11]:
demographic_data["state"].value_counts()

state
tamil_nadu                                  196857
west_bengal                                 169070
uttar_pradesh                               167889
maharashtra                                 162242
karnataka                                   152473
andhra_pradesh                              148746
telangana                                   130355
odisha                                      105935
kerala                                      105515
bihar                                        97621
gujarat                                      96399
rajasthan                                    89508
madhya_pradesh                               76364
assam                                        55682
punjab                                       49611
jharkhand                                    39653
chhattisgarh                                 35730
haryana                                      28554
himachal_pradesh                             28037
uttarakhand                                  23070
jammu_and_kashmir                            19760
delhi                                        10510
tripura                                       8845
manipur                                       7289
goa                                           5921
meghalaya                                     5363
puducherry                                    4767
arunachal_pradesh                             4726
sikkim                                        4553
nagaland                                      4035
mizoram                                       3840
chandigarh                                    2044
andaman_and_nicobar_islands                   1724
dadra_and_nagar_haveli_and_daman_and_diu      1627
ladakh                                         865
lakshadweep                                    520
Name: count, dtype: int64

In [7]:
biometric_data = pd.read_csv('..\\Data\\normalized_biometric1\\normalized_biometric1.csv')

In [8]:
biometric_data.shape

(1861108, 6)

In [31]:
biometric_data["state"].value_counts()

state
tamil nadu                                  184582
uttar pradesh                               155242
maharashtra                                 151104
karnataka                                   141227
andhra pradesh                              132390
west bengal                                 130895
telangana                                   122254
odisha                                       99674
kerala                                       98511
gujarat                                      89531
bihar                                        83398
rajasthan                                    79724
madhya pradesh                               70080
punjab                                       48126
assam                                        47643
jharkhand                                    36625
chhattisgarh                                 31997
himachal pradesh                             30385
haryana                                      26429
uttarakhand                                  22601
jammu and kashmir                            19166
delhi                                         9259
tripura                                       8493
manipur                                       6555
goa                                           5428
puducherry                                    4905
arunachal pradesh                             4244
meghalaya                                     4178
nagaland                                      3826
mizoram                                       3349
sikkim                                        2400
andaman and nicobar islands                   1847
chandigarh                                    1638
ladakh                                        1527
dadra and nagar haveli and daman and diu      1325
lakshadweep                                    550
Name: count, dtype: int64

In [9]:
biometric_data.head()

,date,state,district,pincode,bio_age_5_17,bio_age_17_
0,01-03-2025,haryana,mahendragarh,123029,280,577
1,01-03-2025,bihar,madhepura,852121,144,369
2,01-03-2025,jammu and kashmir,poonch,185101,643,1091
3,01-03-2025,bihar,bhojpur,802158,256,980
4,01-03-2025,tamil nadu,madurai,625514,271,815

In [13]:
enrollment_data = pd.read_csv('..\\Data\\normalized_enrollment\\normalized_enrollment.csv')

In [14]:
enrollment_data.head()

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater
0,02-03-2025,meghalaya,east khasi hills,793121,11,61,37
1,09-03-2025,karnataka,bengaluru urban,560043,14,33,39
2,09-03-2025,uttar pradesh,kanpur nagar,208001,29,82,12
3,09-03-2025,uttar pradesh,aligarh,202133,62,29,15
4,09-03-2025,karnataka,bengaluru urban,560016,14,16,21

In [22]:
print(enrollment_data["date"].max())
print(enrollment_data["date"].min())

31-12-2025
01-04-2025

In [23]:
print(biometric_data["date"].max())
print(biometric_data["date"].min())

31-10-2025
01-03-2025

In [29]:
enrollment_data.groupby(['state', 'district']).size().sort_values(ascending=False).head()
biometric_data.groupby(['state', 'district']).size().sort_values(ascending=False).head()

state           district
andhra pradesh  ananthapuramu        18372
karnataka       bengaluru urban      16803
west bengal     purba bardhaman      16652
karnataka       belagavi             14424
west bengal     north 24 parganas    13435
dtype: int64

In [33]:
enrollment_data.columns

Index(['date', 'state', 'district', 'pincode', 'age_0_5', 'age_5_17',
       'age_18_greater'],
      dtype='object')

In [34]:
biometric_data.columns

Index(['date', 'state', 'district', 'pincode', 'bio_age_5_17', 'bio_age_17_'], dtype='object')

In [36]:
demographic_data.columns

Index(['date', 'state', 'district', 'pincode', 'demo_age_5_17',
       'demo_age_17_'],
      dtype='object')